<div class="container">
<h1>Schedule Appointment</h1>

       <span class="glyphicon glyphicon-plus"><strong>My Appointments</strong></span>            

	<table class="table">
		<thead>
			<tr>
				<th>Doctor Name</th>
				<th>Date</th>
				<th>Start Time</th>
				<th>End Time</th>
				<th>Status</th>
				<th>Pet Id</th>
				<th>Branch Id</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let appointment of appointments">
				<td>{{appointment.nameOfDoctor}}</td>
				<td>{{appointment.appointmentDate}}</td>
				<td>{{appointment.appointmentStartTime}}</td>
				<td>{{appointment.appointmentEndTime}}</td>
				<td>{{appointment.status}}</td>
				<td>{{appointment.petId}}</td>
				<td>{{appointment.branchId}}</td>
				<td><button class="btn btn-warning">Cancel</button></td>
			</tr>
		</tbody>
	</table>
</div>
